@charset "utf-8";

*{
    margin:0;
    padding:0;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
} 

body {
    background-image: url(halfmoon/vino.png);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
}

/*Header und Navigation */


header {
    background-color: whitesmoke;
    display: inline;
    height: 8rem;
    position: fixed;
    width: 100%;
    color: black;
    margin: 0 auto;
    z-index: 1;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Varela Round', sans-serif;
    color: black;
    padding: 2rem;
    text-align: center;
}

header nav {
    display: flex;
    line-height: 3rem;

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 12rem;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1rem;
  }

  .dropdown-content a:hover {
    background-color: rgb(225, 225, 225);
  }

  /* dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    position:absolute;
    right: 4rem;
    top: 3rem;

}

.dropbtn {
    font-size: 2.5rem;
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    position:absolute;
    right: 3rem;
    top: 1.5rem;
}

li a:hover {
    text-decoration: none;
    color: rgb(60, 59, 59);
}


/* Getränkekarte*/

.wrapper {
    width: 60rem;
    height: auto;
    position: relative;
    background-color: whitesmoke;
    top: 15rem;
    margin: 0rem auto;
}

.menu {
    width: 60rem;
    padding: 5rem;
}

span {
    font-weight: 700;
}

.drink {
    margin-bottom: 4rem;
}

h2 {
    text-align: left;
}

/*Footer*/


footer {
    width: 100%;
    margin-top: 20rem;
    background-color: whitesmoke;
    color: black;
}

footer p,
footer ul {
    padding: 2rem 4rem;
    font-size: 1.5rem;
}

.offnungszeiten {
    display: inline-block;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

footer li img {
    width: 2rem;
    height: 2rem;
    padding-right: 1rem;
}



/*Tablet and Smartphone*/
@media only screen and (min-width: 479px) and (max-width: 1023px){

    html {
        font-size: 14px;
    }
    
    /*Header und Navigation*/
    header {
        width: 100%;
        height: auto;    
    }
    
    /*Getränkekarte*/

    .wrapper {
        width: 80%;
    }

    .menu {
        width: 70%;
    }

    /*Footer*/

    footer {
        width: 100%;
    }
    
    footer .offnungszeiten{
        display: block;
    }

    footer li {
        margin: 0 auto;
    }

    footer img {
        width: 30%;
        height: auto;
    }
}

/* Smartphone potrait*/

@media only screen and (min-width: 0px) and (max-width: 478px) {
    html {
        font-size: 10px;
    }

    /*Header und Navigation*/
    header {
        width: 100%;
        height: auto;    
    }
    
    /*Getränkekarte*/

    .wrapper {
        width: 80%;
    }

    .menu {
        width: 70%;
    }

    /*Footer*/

    footer {
        width: 100%;
    }
    
    footer .offnungszeiten{
        display: block;
    }

    footer li {
        margin: 0 auto;
    }

    footer img {
        width: 20%;
        height: auto;
    }

    footer p,
    footer ul {
    padding: 4rem;
    font-size: 1.3rem;
}
}

@media print {
    header, 
    footer {
        display: none;
    }
}