@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}


/* Background image und wrapper width. */
body {
    text-align: center;
}


.wrapper {
    margin: 0 auto;
    width: 100%;
    background-color: rgb(80, 76, 76);
}

/* Stil für header und buttons */

header h1 {
    font-family: Monoton, Verdana, sans-serif;
    font-size: 6.5rem;
    text-align: center;
    color: rgb(155, 74, 74);
}

header h2 {
    font-family: Raleway, Verdana, sans-serif;
    text-align: center;
    font-size: 4.5rem;
    position: relative;
    top: 12rem;
    background-color: black;
    opacity: 0.6;
    color: white;
}

header span {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}

header {
    background-image: url(images/portfolioBack1.jpg);
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    display: inline;
}

form button {
    background-color: black;
    font-size: 2.5rem;
    font-family: Raleway, Verdana, sans-serif;
    color: white;
    border-radius: 10px;
    opacity: 0.9;
    width: 12.5rem;
    height: 4.5rem;
    position: relative;
    top: 16rem;
}

#button1 {
    margin-right: 6rem;
}

#button2 {
    margin-left: 6rem;
}

 /* Grid-Stil für Verfahren und Website Vorschau */

.grid {
    width: 940px;
    height: 9rem;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.25rem;
    margin-top: 3.125rem;
    
}

.box {
    color: black;
    font-family: Raleway, Verdana, sans-serif;
    font-size: 1.5rem;
}

p {
    opacity: 0.8;
    background-color: black;
    color: white;
    font-size: 1rem;
    height: auto;
    padding: 1rem;
}

a p {
    height: 3rem;
    position: relative;
    bottom: 5rem;
} 

#websites {
    margin: 6.25rem auto 10rem;
}


img {
    height: 12rem;
    width: 100%;
}

/* Links */

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: white;
}

/*Einschub*/

.einschub h6 {
    color:white;
    font-family: Raleway, Verdana, sans-serif;
    font-size: 0.8rem;
    margin-bottom: 3rem;
    font-weight: bold;
    
} 


/*Footer*/

footer li {
    display: inline-block;
    margin: 0 auto;
    padding: 2rem;
    font-family: Raleway, Verdana, sans-serif;
    
}

footer {
    background-color: black;
    opacity: 0.9;
    height: auto;
    padding-top: 2.5rem;
    text-align: center;
}

li img {
    width: 1.8rem;
    height: 1.8rem;
}

li,
footer a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 1.5rem;
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 1023px) {

html {
    font-size: 14px;
}

/*Responsive Wrapper und Header*/
.wrapper {
    background-color: rgb(80, 76, 76);
    width: 100%;
}

header {
    background-image: url(images/portfolioBack1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h2 {
    text-align: center;
    width: 100%;
    height: auto;
}

/*Responsive grid*/

.grid {
    display: grid;
    width: 90%;
    height: auto;
    margin: 3rem auto;
    padding: 0 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}   


.grid img {
    max-width: 100%;
    display: block;
    height: 17rem;
}

footer li {
    display: block;
}

} 



/* Smartphone landscape and potrait*/

@media screen and (min-width: 0px) and (max-width: 599px) {

html {
    font-size: 12px;
}

/* Responsive Wrapper und Header*/

.wrapper {
    background-color:rgb(80, 76, 76);
    width: 100%;
}

header {
    background-image: url(images/portfolioBack1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header h1 {
    font-size: 5.5rem;
}

p {
    font-size: 1.3rem;
}

header h2,
header h4 {
    text-align: center;
    width: 100%;
    height: auto;
    font-size: 4rem;
}

/*Responsive Grid*/
.grid {
    display: grid;
    width: 90%;
    height: auto;
    margin: 3rem auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}   

.grid img {
    max-width: 100%;
    display: block;
    height: 20rem;
}

/*Responsive Buttons*/

form button {
    display: block;
}

#button1,
#button2 {
    margin: 1rem auto;
    font-size: 2rem;
}

/*Responsive footer*/

footer {
    width: 100%;
}

footer li {
    display: block;
}

}